.detail-page
  padding: 16px 24px
  max-width: 1584px
  margin: 0 auto
  position: absolute
  z-index: 50
  .detail-info
    .title
    .detail-row
      .description
      .detail-nav

  .image-gallery
