@import "../css/typography"

// config profile colors
// $background-primary: #1B1B1B
$background-primary: #0c0c0c

$text-primary-color: #fff
$text-secondary-color: #ABD908

// Breakpoints
$layout-breakpoint-large: 1920px
$layout-breakpoint-medium: 1440px
$layout-breakpoint-small: 960px
$layout-breakpoint-xsmall: 480px
// Colors
$background: #f0eff1
$white: #fff
$black: #24242a

$header-max-size: 1440px
$container-max-size: 1682px

// borders
// $dashed-border: background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='5' stroke-dasharray='5%2c18' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e")

// text size
$base-body-px: 14px

$line-height: 20px

$logo-font-family: "agrandir-wide", Helvetica, sans-serif
$heading-font-family: "agrandir-reg", Helvetica, sans-serif
$body-font-family: "grafier-regular", Helvetica, sans-serif

*, *::before, *::after
  padding: 0
  margin: 0
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

*
  background-color: $background-primary
  font-size: $base-body-px
  color: $text-primary-color
  font-family: $body-font-family
  -webkit-font-smoothing: antialiased

.h0
  font-size: 600px
  font-family: $heading-font-family

h1
  font-size: 144px
  font-family: $heading-font-family
  margin: 0

p
  font-size: 12px
  line-height: 20px

button
  font-family: $body-font-family

span
  text-transform: uppercase
  font-size: 12px
  line-height: $line-height
// nav,
// .btn-services
//   max-width: $header-max-size
//   display: flex
//   margin: 0 auto

.home
  max-height: 100vh
  margin: 0 auto
  max-width: 1680px

/////////////GRID LAYYOUT HOME
.grid
  display: grid
  position: relative
  min-height: 100vh
  width: 100%
  grid-template-rows: 1fr 3.03fr 1.33fr 2.7fr 2.7fr 1.33fr 3.03fr 1fr
  grid-template-columns: 1fr 1fr 2fr 1.33fr 1fr 1.58fr 4.83fr 3.167fr 3.167fr 4.83fr 1.58fr 1fr 1.33fr 2fr 1fr 1fr

.btn-services
  // from top / from left / take up from top / take up from left
  grid-area: 2/11/auto/span 3
  align-items: flex-start
  justify-content: flex-end
  display: flex
  button
    cursor: pointer
    font-size: 12px
    padding: 16px 32px
    border: 1px dashed $white
    text-transform: uppercase

.intro-text-cont
  grid-area: 3/3/auto/span 4
  div
    text-align: justify

.nav-cont
  grid-area: 2/3/2/ span 5
  margin-top: 18px
  height: 22px

.home-img-container
  grid-area: 3/7/-1/-4
  display: flex
  justify-content: flex-end
  overflow: hidden
  padding-bottom: 24px
  padding-left: 10%
  margin-top: -16px

  .img-info
    display: flex
    justify-content: space-between
    width: 100%

.img-linker-container
  margin-top: 32px
  grid-area: 4/ 4 / -2/ span 3
  display: flex
  justify-content: flex-end
  a
    font-family: $heading-font-family
    display: block
    line-height: $line-height
    font-size: 12px
    text-transform: uppercase
    text-decoration: none

.home-socials
  grid-area: 7/14/7/-3
  display: flex
  align-items: flex-end
  flex-direction: column
  justify-content: end
  img
    margin: 4px
    margin-right: 8px

.dash-top-right
  grid-area: 1/14/ span 2 / auto
  border-right: 1px dashed #EBEBEB

.dash-btm-left
  grid-area: 7/ 2/ span 2/ auto
  border-right: 1px dashed #EBEBEB

.home-link-counter
  grid-area: 7/ 6/ 7/ -11
  display: flex
  align-items: flex-end
  justify-content: end
  z-index: 5

//////////// GRID LAYYOUT HOME END

.logo
  font-family: $logo-font-family
  font-size: 24px
  line-height: 24px

.container
  max-width: 3180px
  margin: 0 auto

.row-title
  position: absolute
  top: 460px
  display: block
.row-letter
  font-family: $heading-font-family
  font-size: 600px
  position: relative
  line-height: .8
  background-color: transparent
  display: inline-block
  letter-spacing: -1.8rem
  white-space: nowrap

// HELPERS
.flex-end-start
  display: flex
  align-items: flex-end

.img-responsive
  width: 100%
  height: auto

.txt-r
  text-align: right

.u-line
  text-decoration: underline
