@import "../css/typography"
@import "../styles/variables.sass"

@import "../styles/services.sass"
@import "../styles/details.sass"

*, *::before, *::after
  padding: 0
  margin: 0
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

*
  font-size: $base-body-px
  color: $text-primary-color
  font-family: $body-font-family
  -webkit-font-smoothing: antialiased

body
  background-color: $background-primary
  overscroll-behavior: none

.h0
  font-size: 600px
  font-family: $heading-font-family

h1
  font-size: clamp(72px, 14.4vw, 360px)
  line-height: clamp(72px, 14.4vw, 360px)
  font-family: $heading-font-family
  margin: 0
  letter-spacing: 8px

h2
  font-size: clamp(36px, 3.6vw, 42px)

a:hover
  color: $text-secondary-color

p
  font-size: clamp(12px, $p-size, 14px)
  line-height: clamp(16px, 2.2vw, 22px)
  margin-bottom: 16px

li
  font-size: 14px
  margin-bottom: 4px
  margin-left: 16px

button
  font-family: $heading-font-family

span
  line-height: clamp(14px, $line-height, 20px)
  font-size: clamp(12px, $span-size, 14px)
  -webkit-font-smoothing: antialiased

// nav,
// .btn-services
//   max-width: $header-max-size
//   display: flex
//   margin: 0 auto

.home
  max-height: 100vh
  margin: 0 auto
  // max-width: 1680px

/////////////GRID LAYYOUT HOME
.grid
  display: grid
  position: relative
  min-height: 100vh
  width: 100%
  grid-template-rows: 1fr 3.03fr 1.33fr 2.7fr 2.7fr 1.33fr 3.03fr 1fr
  grid-template-columns: 1fr 1fr 2fr 1.33fr 1fr 1.58fr 4.83fr 3.167fr 3.167fr 4.83fr 1.58fr 1fr 1.33fr 2fr 1fr 1fr

.btn-services
  // from top / from left / take up from top / take up from left
  grid-area: 2/10/auto/span 4
  align-items: flex-start
  justify-content: flex-end
  display: flex
  button
    cursor: pointer
    font-size: 14px
    padding: 16px 32px
    border: 1px dashed $white
    text-transform: uppercase
    background-color: $background-primary
    &:hover
      background: $text-secondary-color
      border: 1px solid $text-secondary-color
      color: $black

.intro-text-cont
  grid-area: 7/5/auto/span 4
  z-index: 5
  max-width: 320px
  div
    text-align: justify
    padding: 8px 16px
    background: $background-primary

.nav-cont
  grid-area: 2/3/2/span 5
  height: 22px
  margin-top: 22px

.home-img-container
  grid-area: 3/7/-1/-4
  display: flex
  justify-content: flex-end
  overflow: hidden
  padding-bottom: 24px
  padding-left: 8%
  margin-top: -28px

  .img-info
    display: flex
    justify-content: space-between
    width: 100%
    margin-bottom: 8px

.img-linker-container
  grid-area: 3/4/5/span 3
  margin-top: -27px
  background: transparent

  background: transparent
  a
    font-family: $heading-font-family
    display: block
    line-height: clamp(14px, 2vw, 24px)
    font-size: clamp(14px, 1.2vw, 16px)
    text-decoration: none
    -webkit-font-smoothing: antialiased

.home-socials
  grid-area: 7/14/7/-3
  display: flex
  align-items: flex-end
  flex-direction: column
  justify-content: end
  img
    margin: 4px
    margin-right: 8px

.dash-top-right
  grid-area: 1/14/ span 1 / auto
  border-right: 1px dashed #EBEBEB

.dash-btm-left
  grid-area: 7/4/span 1/auto
  border-right: 2px solid #EBEBEB
  margin-right: 16px
  background: transparent

.home-link-counter
  grid-area: 3/3/span 1/span 1
  max-height: 50%
  text-align: center
  background: transparent
  opacity: 0.25
  z-index: -5
  margin-top: -25px
  max-width: 115px
  div
    background: transparent
  span
    font-size: 38px
    letter-spacing: -1px

//////////// GRID LAYYOUT HOME END

.logo
  font-family: $logo-font-family
  font-size: 24px
  line-height: 24px

.container
  max-width: 3180px
  margin: 0 auto

.row-title
  position: absolute
  top: 460px
  display: block
.row-letter
  font-family: $heading-font-family
  font-size: 600px
  position: relative
  line-height: .8
  background-color: transparent
  display: inline-block
  letter-spacing: -1.8rem
  white-space: nowrap

// HELPERS
.flex-end-start
  display: flex
  align-items: flex-end

.img-responsive
  width: 100%
  height: auto

.txt-r
  text-align: right

.u-line
  display: inline-block
  border-bottom: 2px solid white
  margin-bottom: 16px

.mb-0
  margin-bottom: 0

.overlay
  top: 0
  left: 0
  width: 100px
  height: 100px
  position: absolute

canvas
  height: 100%

.canvas-full-h
  height: 100vh
  canvas
    height: 100vh
